# java
*.class
.java-version

# gradle
.gradle
build
local.properties

# intellij
.idea
*.iml
out

# mvn
target
secrets.xml

# logging
logback.xml
logback-test.xml

# macOS
.DS_Store

# Android api level checker
android-api-level-checker/app/src/main/java/*
