/** 
  * The polish.css files contains all
  * design information about a project.
  * It can be adjusted for specific devices
  * or device groups by putting it in the 
  * appropriate sub-folder.
  * If you want to adjust a design for all
  * Nokia devices, define it in "resources/Nokia/polish.css"
  * and so on. Only new and different settings
  * need to be specified in such polish.css files. 
  */

/**
  * the colors which are defined in
  * the colors section can later be referenced.
  * This makes changes easy, since the color
  * just needs to be changed in one position.
  * Even default colors (like blue, green, lime, etc)
  * can be changed here. 
  */

colors {
	fontColor: #eee; /** weird green*/
	focusedFontColor: #000; /* black */
	bgColor:  #eee; /** grey **/
	focusedBgColor:  #fff;
	focusedBackground: white;
	borderColor: fontColor;
	focusedBorderColor: focusedFontColor;
	menubarColor: rgb( 240, 240, 240 );  /** almost white **/
	menubottombarColor: rgb( 210, 210, 210 ); /* little less almost white */
	oldQuestionColor: #E2E2E2;	/* little less almost white */
	overlay: argb( 150, 255, 255, 255 ); /*see through white */
	
	manyUnsent: #FF0000; /*Red as Red can be */
	
	
	requiredColor: 	#FF7F50; /* nerve damage orange */
	requiredColorFocus: #DC143C; /* pretty much red */
	headerColor: 	#D9D9D9; /*again with the grey */
	dimagiBlue: #114281;
	lighterBlue: #4779B8;
	otherLighterBlue:#2B7BE3;
	dimagiBackground: #F5F1E5;
	dimagiGold: #DD9911;
	
	buttonTextColor: black;
	buttonBgColor: #EEE3C6;
	
	buttonFocusedBg: lighterBlue;
	buttonFocusedTextColor: white;
	
	/*popupBgColor: #648CC0;*/
	popupBgColor: #C6D7EC;
	
	popupFontColor: black;
	
	selectedBg: #D5D8DD;
}
.loginView {
	background {
		color: white;
		anchor: bottom | horizontal-center;
	}
	background-bottom: menubar;	
	margin-bottom: 5;
	layout: horizontal-center | vertical-center;
}

focusHighlight extends focused {
	background-color: requiredColorFocus;
	font-color: white;
}
	
.buttonfocused {
	font-color: buttonFocusedTextColor;
	font-style: bold;
	border-color: black;
	border-width: 1;
	background-color: buttonFocusedBg;

/*
	padding-vertical: 2;
	padding-horizontal: 5;
*/	
	
	layout: horizontal-center;
	min-width: 80;
}

.button {
	font-color:buttonTextColor;
	font-style:bold;
	padding:1;
	focused-style: buttonfocused;
	background-color: buttonBgColor;
}

.groupName {
	font-color: black;
	font-style: italic;
	background {
		type: round-rect;
		arc: 9;
		color: dimagiBlue;

	}
}

title{
	margin: 4;
	padding: 4;
	padding-top: 4;
	padding-bottom: 4;
	font-face: proportional;
	font-size: medium;
	font-style: bold;
	font-color: white;
	layout: center | expand;
	text-effect: none;
	background {
		type: round-rect;
		color: lighterBlue;
		arc-width: 10;
		arc-height: 10;
	}	
}


.modeList{
	background: #FFC;
	layout: center | expand;
}

focused{
	/*
	background-color: white;
	border-type: round-rect;
	border-arc: 6;
	border-color: yellow;
	border-width: 2;
	layout: left | expand;
	font-color: black;
	font-style: bold;
	*/
	layout: left | expand;
	background-color: focusedBackground;
	border {
		type:round-rect;
		arc-width:6;
		arc-height:6;
		width:2;
		color:dimagiBlue;
	}	
	/*
		type: drop-shadow;
		inner-color: #000;
		outer-color: #000;
		width: 3;
		orientation: all;
	*/
		
}
	
.textBox {
	label-style: questiontext;
	layout: horizontal-center;
	background-color: white;
	/* border-width: 1;
	border-color: black; */
	border {
		type:round-rect;
		arc-width:6;
		arc-height:6;
		color:dimagiBackground;
		width:2;
		color:dimagiBlue;
	}
	layout: right | expand;

/*
	margin-top: 1;
	margin-bottom: 1;
	margin-left: 1;
	margin-right: 1;
*/
}

.cgFocused extends focused {
    before: url (focused.png);
    background-color: selectedBg;
}

.cgItemFocused {
   focused-style: .cgFocused;
}

listitem {
	focused-style: .cgFocused;
}
radiobox {
	focused-style: .cgFocused;
}
checkbox {
	focused-style: .cgFocused;
}
popup {
	focused-style: .cgFocused;
}

choiceGroup extends textBox {
	
}

.choiceGroupLabel {
	font-face: proportional;
	/* font-size: large; */
	layout: horizontal-center | newline-after;
}

.unsentImportant extends listitem {
    font-color: manyUnsent;
}

.yesNoChoiceGroup extends choicegroup{
	background-color: white;
	view-type: midp2;
}

.choiceItem {
	margin: 0;
	icon-image-align: bottom;
	font-size: medium;
}	

.yesNoItem {
	margin: 2;
	layout: right;
	icon-image-align: bottom
}

.framedForm {
	padding: 1;
	background-color: gray;
	layout: bottom | horizontal-center;
}
	
.questiontext extends textBox{
	font-face: proportional;
	font-size: large;	
	layout: left | expand | bottom; 
}

.prompttext extends questiontext {
    border: none;
}

.oldprompttext extends questiontext {
	font-style: bold;	 
	background-color: oldQuestionColor;
}
	
.valueText extends textBox{
	font-face: proportional;
	font-size: medium;
	font-style: bold;	
	layout: horizontal-center | expand; 
	background-color: oldQuestionColor;
}

leftframe {
	layout: vertical-expand | vertical-center;
}

rightframe {
	layout: vertical-expand | vertical-center;
}

menu {
	border {
		type: drop-shadow;
		width: 2;
		start-color: #aeee;
		end-color: #2222;
		orientation: top-right;
	}
	padding: 0;
	background-color: menubarColor;
	font-style: bold; 
	font-face: proportional; 
	font-size: medium; 
	font-color: black;
	menubar-color: menubottombarColor;
	margin: 0;
}
/**
  * The menuItem style is a predefined style
  * for the actual commands in a fullscreen-menu.
  * When the menuItem style is not defined,
  * the menu style will be used instead. 
  */
menuItem {
	font {
		color: black;
		size: medium;
		style: bold;
	}
	layout: left;
	//#if ${ exists( arrowRight.png ) }
		command-child-indicator: url(arrowRight.png);
	//#else
		command-child-indicator-color: blue;
		command-child-indicator-width: 8;
		command-child-indicator-height: 10;
	//#endif
}

.menuItem:hover {
	border {
		type: simple;
		width: 1;
		color: black;
		orientation: all;
	}	
	font {
		style: bold;
		size: medium;
		color: black;
	}
	layout: left | horizontal-expand;
}

.container {
	columns: 1;
	layout: expand | vshrink | bottom;
}

leftcommand {
/*
	padding-horizontal: 0;
	padding-bottom: 0;
*/
	font-color: black;
	font-style: bold;
}

rightcommand {
/*
	padding-horizontal: 0;
	padding-bottom: 0;
*/
	font-color: black;
	font-style: bold;
	layout: right;
}

.split {
	columns: 3; /* really two columns, with a null item prepended */
	layout: expand | vshrink;
 	background-color: oldQuestionColor;
 	
 /*	
	padding: 2;
	margin-top: 1;
	margin-bottom: 1;
	margin-left: 1;
	margin-right: 1;
*/	
	
	border-width: 1;
	border-color: black;
}

/* 'expand' is currently set in both splitleft and splitright because without it the text doesn't always align correctly.
 * it is not ideal, however, because if the question or answer is much longer than the other, we waste vertical space by
 * wrapping prematurely */

.splitleft {
	layout: left | expand;
  	font-face: proportional;
	font-size: medium;
	/* font-style: bold; */
	focused-style: .empty_focus; 	
}

.empty_focus {
	layout: left | expand;
  	font-face: proportional;
	font-size: medium;
	/* font-style: bold; */
	border: none;
}

.splitright {
	layout: right | expand;
	font-face: proportional;
	font-size: medium;
	/* font-style: bold; */
}

.progressbar {
	gauge-mode: continuous;
	gauge-show-value: false;	
	gauge-height: 2;
}

.urlForm{}

.urlInput{}

.submitPopup {
	margin: 10;
	padding: 5;
	layout: horizontal-center | vertical-center | horizontal-shrink;
	repaint-previous-screen: true;
	border-width: 1;
	border-color: black;
	background-color: white;
	
/*	
	//#if polish.midp2 || polish.api.nokia-ui
		border {
			type: drop-shadow;
			width: 6;
			inner-color: #aff0;
			outer-color: #2002;
			orientation: top-right;
		}
	//#endif
*/	
}

.submitYesNo {
	
}

/* JJ trying this new style just to see if it works, copied the polish site */

.mailForm {
    padding: 5;
    padding-left: 5;
    padding-right: 5;
    background-color: black;
    layout: horizontal-expand | horizontal-center | top;
    //#if polish.midp2 and false
        screen-change-animation: fade;
    //#endif
}


alertcontent {
    font-color: popupFontColor	;
}

.mailAlert extends .mailForm {
    title-style: title;
    background-color: popupBgColor;
    font-color: popupFontColor;
    
    border-width: 1;
	border-color: black;
    
        
    margin-right: 10;
    margin-left: 10;
    padding-left: 5;
    padding-right: 5;
    layout: horizontal-center | bottom | horizontal-shrink | vertical-shrink;
    repaint-previous-screen: true;
    //#if polish.midp2 and false
        screen-change-animation: fade;
    //#endif
}

.accessDeniedAlert extends .mailForm {
    title-style: none;
    margin-right: 10;
    margin-left: 10;
    padding-left: 5;
    padding-right: 5;
    layout: horizontal-center | bottom | horizontal-shrink | vertical-shrink;
    repaint-previous-screen: true;
    //#if polish.midp2 and false
        screen-change-animation: fade;
    //#endif
    background-color: red;
}
.ReviewFramedForm extends .framedForm {
	background-color: white;
	padding: 0;
}

.ReviewSplit extends .split {
 	background-color: white;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 1;
	margin-right: 1;
	border: none;
	focused-style: .cbox_frame_focused;
}

.cbox_frame_focused {
	layout: left | expand;
	background-color: white;
	border {
		type: drop-shadow;
		inner-color: #000;
		outer-color: #000;
		width: 3;
		orientation: all;
	}
}	
	
	
.patselRow {
    font-size: small;
	//#if javarosa.patientselect.formfactor == nokia-s40
	columns: 3;
	columns-width: 70,40,18;
	//#else
	columns: 3;
	columns-width: 110,95,25;
	//#endif
	padding:2;
}

.patselDetailRow {
    font-size: small;
	columns: 2;
	//#if javarosa.patientselect.formfactor == nokia-s40
	columns-width: 40,85;
	//#else
	columns-width: 80,150;
	//#endif
}

.patselEvenRow extends patselRow {
	background-color: white;
}

.patselOddRow extends patselRow {
	background-color:  #EEEEFF;
}

.patselSelectedRow extends patselRow {
	background-color: focusedBackground;
	border {
		type:round-rect;
		arc-width:6;
		arc-height:6;
		width:2;
		color:dimagiBlue;
	}	
}

.patselCell {
    text-wrap: false
}

.patselTitleRowContainer extends patselRow {

	background-color: lighterBlue;
	
}

/** ------------   Popup Style   -----------------**/

.patselDetailRow {
    font-size: small;
	columns: 2;
	//#if javarosa.patientselect.formfactor == nokia-s40
	columns-width: 40,85;
	//#else
	columns-width: 80,150;
	//#endif
}

.patselSortPopup {
    margin-right: 15;
	margin-left: 15;
    margin-top: 5;
    margin-bottom: 5;
    border-color: black;
    border-width: 1;

    font-size: large;
    font-style: bold;
    layout: vertical-center | horizontal-shrink | vertical-shrink;
    repaint-previous-screen: true;
}

.gaugeLabel {
	layout: horizontal-center | horizontal-shrink;
	layout: newline-after;
}


.loadingGauge {
    view-type: gauge-rotating-arcs;
    label-style: gaugeLabel;
    layout: horizontal-center | vertical-center;
}

/** -------------- GUAGE ---------------------- **/
.recordingIndicator {
    view-type: gauge-rotating-arcs;
    label-style: gaugeLabel;
    layout: horizontal-center | vertical-center;
/*	gauge-rotating-arc-start-color: dimagiBlue;
	gauge-rotating-arc-end-color: lighterBlue;
	gauge-rotating-arc-number: 8; */
}

 /* 
  gauge-cycling-icons-image: url( red.png );
    gauge-cycling-icons-highlight-image: url( yellow.png );
    gauge-cycling-icons-highlight-center-image: url( green.png );
    gauge-cycling-icons-count: 20;
    gauge-cycling-icons-highlight-count: 3;	
    layout: horizontal-center | bottom;
 
 view-type: gauge-cycling-icons;
    gauge-cycling-icons-image: url( red.png );
    gauge-cycling-icons-highlight-image: url( yellow.png );
    gauge-cycling-icons-highlight-center-image: url( green.png );
    gauge-cycling-icons-count: 10;
    gauge-cycling-icons-highlight-count: 3;	
 */
.guageItem {
    view-type: gauge-rotating-arcs;
    label-style: gaugeLabel;
    layout: horizontal-center | vertical-center;
}

.loginTitle {
	layout:center | expand;
	font-style: bold;
	font-size: big;
}

.loginImage {
    layout: center | expand;
}

.loginTextFields {
	margin-top:1;
	margin-right:5;
	margin-bottom:6;
	padding:3;
	layout: expand | vertical-center;
	background-color: bgColor;
	label-style:loginTextLabelStyle;
	border-color: black;
	border-width: 1;
	font-color: black;
}

.loginTextFields:hover {
	margin-top:1;
	margin-right:5;
	margin-bottom:6;
	padding:3;
	layout: expand | vertical-center;
	background-color: white;
	label-style:loginTextLabelStyle;
	border-color: black;
	border-width: 1;
	font-color: black;
	
	}

.loginTextLabelStyle{
		margin-top:1;
		margin-left:5;
		margin-bottom:6;
		padding:3;
		layout: left | vertical-center;
		font-style: bold;
}

.loginExtraText {
    font-size: small;
}

.patselTitleRowText{
	text-wrap: false;
	font {
		face: proportional;
		style: bold;
		size: small;
		color: white;
	}
}

.tickerStyle{
	font {
		bitmap: url( lcdnums.bmf );
		size: large;
		color: black;
		style: bold;
	}
	layout: vertical-center | horizontal-center | expand |  newline-before | newline-after;
	width: 80;
	border-color: black;
	border-width: 1;
	min-width: 80;
	margin-left:5;
	margin-right:5;
}

.customButton{
	focused-style:	buttonCustomHover;
	margin:2;
	padding:0;
}



.buttonCustomHover{
	border {
		type:round-rect;
		arc-width:6;
		arc-height:6;
		width:2;
		color:buttonFocusedBg;
	}	
}

.buttonRecord extends customButton{
	
}

.buttonPlay extends customButton{

}

.buttonStop extends customButton{
	layout: newline-after;
}

.buttonSend extends .button{
	margin-left:5;
	margin-right:5;
	layout: horizontal-center | expand;
}

.buttonSend:hover{
	font-color: buttonFocusedTextColor;
	font-style: bold;
	border-color: black;
	border-width: 1;
	background-color: buttonFocusedBg;
	margin-left:5;
	margin-right:5;
/*
	padding-vertical: 2;
	padding-horizontal: 5;
*/	
	
	layout: horizontal-center|expand;
	min-width: 80;
}

.noteDetails{
	layout:horizontal-center | expand;
}

.noteInstructions{
	layout:horizontal-center | expand;
}

.audioGauge {
	layout: horizontal-center | expand;
	gauge-show-value: false;
}

/** Single question styles **/
/**
 * singlequestionscreen styles
 */
.View_All_Form {
	padding: 2;	
	background-color: white;
	screen-change-animation: zoomin;
	layout: bottom | horizontal-center;
	always-include: true	
}