<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT_SCENARIO" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[FORM TRACE] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.javarosa.core.test.Scenario" level="debug" additivity="false">
        <appender-ref ref="STDOUT_SCENARIO"/>
    </logger>

    <logger name="guru.nidi.graphviz" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
