/** 
  * The polish.css files contains all
  * design information about a project.
  * It can be adjusted for specific devices
  * or device groups by putting it in the 
  * appropriate sub-folder.
  * If you want to adjust a design for all
  * Nokia devices, define it in "resources/Nokia/polish.css"
  * and so on. Only new and different settings
  * need to be specified in such polish.css files. 
  */

/**
  * the colors which are defined in
  * the colors section can later be referenced.
  * This makes changes easy, since the color
  * just needs to be changed in one position.
  * Even default colors (like blue, green, lime, etc)
  * can be changed here. 
  */
colors {
	fontColor: rgb( 30, 85, 86 );
	focusedFontColor: #000;
	bgColor:  #eee;
	focusedBgColor:  #fff;
	borderColor: fontColor;
	focusedBorderColor: focusedFontColor;
	menubarColor: #DDDD88;
	oldQuestionColor: #E2E2E2;	
	overlay: argb( 150, 255, 255, 255 );
	buttonBgColor: #ffeecc;
}

title {
	padding: 2;
	font-face: proportional;
	font-size: large;
	font-style: bold;
	font-color: focusedFontColor;
	background-color: bgColor;
	border: none;
	layout: horizontal-center | horizontal-expand;
	//#if polish.midp2
		text-effect: vertical-gradient;
		text-vertical-gradient-start-color: #ddd;
		text-vertical-gradient-end-color: #000;		
	//#endif
}

.modeList{
	background: #FFC;
	layout: center | expand;
}

focused{
	background-color: white;
	border-type: round-rect;
	border-arc: 6;
	border-color: yellow;
	border-width: 2;
	layout: left | expand;
	font-color: black;
	font-style: bold;
}

.focusedNoBorder extends focused {
	border-type: none;
}

.nextQuestion{
	screen-change-animation: right;
	background-color: gray;
	right-screen-change-animation-speed: 8; 
    right-screen-change-animation-move-previous: true; 
	
}

.prevQuestion{
	screen-change-animation: left;
	background-color: gray;
	left-screen-change-animation-speed: 8;  
    left-screen-change-animation-move-previous: true; 
	
}

fromViewAnswers
{
	screen-change-animation: particle;
	background-color: gray;
	
}

.framedForm {
	padding: 2;
	background-color: gray;
	layout: bottom | horizontal-center;	
}

.CL_Forms_Form{
	padding: 2;
	background-color: gray;
	screen-change-animation: particle;
	layout: bottom | horizontal-center;	
}

.textBox {
	label-style: choiceGroupLabel;
	layout: horizontal-center;
	background-color: white;
	border-width: 1;
	border-color: black;
	layout: right | expand;
	margin-top: 1;
	margin-bottom: 1;
	margin-left: 1;
	margin-right: 1;
}

.choiceGroup extends textBox {
	
}

.choiceGroupLabel {
	font-face: proportional;
	/* font-size: large; */
	layout: horizontal-center | newline-after;
}

.yesNoChoiceGroup extends choicegroup{
	view-type: midp2;
}

.choiceItem {
	margin: 0;
	icon-image-align: bottom;
	font-size: medium;
}

.yesNoItem {
	margin: 2;
	layout: right;
	icon-image-align: bottom
}

.framedForm {
	padding: 2;
	background-color: gray;
	layout: bottom | horizontal-center;
}
	
.questiontext extends textBox{
	font-face: proportional;
	font-size: medium;	
	layout: vertical-center | horizontal-center | expand; 
	padding: 2;	
}
.oldprompttext extends questiontext {
	font-style: bold;	 
	background-color: oldQuestionColor;
	margin-bottom: 1;
}
	
.valueText extends textBox{
	font-face: proportional;
	font-size: medium;
	font-style: bold;	
	layout: vertical-center | horizontal-center | expand; 
	background-color: oldQuestionColor;
	padding: 2;
	margin-top: 0;
}

leftframe {
	layout: vertical-expand | vertical-center;
}

rightframe {
	layout: vertical-expand | vertical-center;
}

menu {
	border-type: top;
	border-color: black;
	border-width: 1;
	padding: 5;
	background-color: menubarColor;
	font-style: bold; 
	font-face: proportional; 
	font-size: medium; 
	font-color: red;
	menubar-color: black;
	margin: 0;
}

leftcommand {
	padding-horizontal: 4;
	padding-bottom: 0;
	font-color: black;
	font-style: bold;
}

rightcommand {
	padding-horizontal: 4;
	padding-bottom: 0;
	font-color: black;
	font-style: bold;
	layout: right;
}

.container {
	columns: 1;
	layout: expand | vshrink;
}

.buttonfocused {
	font-color: black;
	font-style: bold;
	border-color: black;
	border-width: 1;
	background-color: buttonBgColor;
	padding-vertical: 2;
	padding-horizontal: 5;
	layout: horizontal-center;
	min-width: 80;
}

.button extends buttonfocused {
	focused-style: buttonfocused;
}

.split {
	columns: 3; /* really two columns, with a null item prepended */
	layout: expand | vshrink;
 	background-color: oldQuestionColor;
	padding: 2;
	margin-top: 1;
	margin-bottom: 1;
	margin-left: 1;
	margin-right: 1;
	border-width: 1;
	border-color: black;
}

/* 'expand' is currently set in both splitleft and splitright because without it the text doesn't always align correctly.
 * it is not ideal, however, because if the question or answer is much longer than the other, we waste vertical space by
 * wrapping prematurely */

.splitleft {
	layout: left | expand;
  	font-face: proportional;
	font-size: medium;
	/* font-style: bold; */ 	
}

.splitright {
	layout: right | expand;
	font-face: proportional;
	font-size: medium;
	/* font-style: bold; */
}

.progressbar {
	gauge-mode: continuous;
	gauge-show-value: false;	
	gauge-height: 4;
}

.urlForm{}

.urlInput{}

.submitPopup {
	margin: 10;
	padding: 5;
	layout: horizontal-center | vertical-center | horizontal-shrink;
	repaint-previous-screen: true;
	border-width: 1;
	border-color: black;
	
/*	
	//#if polish.midp2 || polish.api.nokia-ui
		border {
			type: drop-shadow;
			width: 6;
			inner-color: #aff0;
			outer-color: #2002;
			orientation: top-right;
		}
	//#endif
*/	
}

.submitYesNo {
	
}

/* JJ trying this new style just to see if it works, copied the polish site */

.mailForm {
    padding: 5;
    padding-left: 5;
    padding-right: 5;
    background-color: black;
    layout: horizontal-expand | horizontal-center | top;
    //#if polish.midp2
        screen-change-animation: fade;
    //#endif
}

.mailAlert extends .mailForm {
    title-style: none;
    margin-right: 10;
    margin-left: 10;
    padding-left: 5;
    padding-right: 5;
    layout: horizontal-center | bottom | horizontal-shrink | vertical-shrink;
    repaint-previous-screen: true;
    //#if polish.midp2
        screen-change-animation: fade;
    //#endif
    background-color: green;
}

.accessDeniedAlert extends .mailForm {
    title-style: none;
    margin-right: 10;
    margin-left: 10;
    padding-left: 5;
    padding-right: 5;
    layout: horizontal-center | bottom | horizontal-shrink | vertical-shrink;
    repaint-previous-screen: true;
    //#if polish.midp2
        screen-change-animation: fade;
    //#endif
    background-color: red;
}

alertcontent {
    font-color: white;
}

.lineChart {
    layout: center | expand;
    label-style: choiceGroupLabel;
	focused-style: graphfocused;
	padding: 3;
	font-color: gray;
	font-size: small;
}

.graphfocused{
    background: default;
    background-color: white;
}

.patselRow {
    font-size: small;
	columns: 3;
	columns-width: 110,95,25;
}

.patselDetailRow {
    font-size: small;
	columns: 2;
	columns-width: 80,150;
}

.patselEvenRow extends patselRow {
	background-color: white;
}

.patselOddRow extends patselRow {
	background-color:  #EEEEFF;
}

.patselSelectedRow extends patselRow {
	background-color:  #FFCCCC;
}

.patselCell {
    text-wrap: false
}

.patselSortPopup {
    margin-right: 15;
	margin-left: 15;
    margin-top: 5;
    margin-bottom: 5;
    border-color: black;
    border-width: 1;

    font-size: large;
    font-style: bold;
    layout: vertical-center | horizontal-shrink | vertical-shrink;
    repaint-previous-screen: true;
}
